.quotes_item {
  padding: 10px 0;
}
.quotes_info {
  padding: 30px;
  text-align: center;
}

.quotes_item a {
  text-decoration: none;
  color: #333;
}

.quotes_item a:hover {
  text-decoration: underline;
  color: #333;
}
