.my-masonry-grid {
  display: flex;
  margin-left: -20px;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements in <masonry> */
  margin-bottom: 20px;
}

.my-masonry-grid_column > div > a {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.my-masonry-grid_column > div > a:hover {
  transform: scale(1.05);
}
